body {
    margin: 0;
    padding: 0;
   
  
}
.header {
    height: 100px;
    width: 100px;
    background-color:#ebe9ec;
}
.navigation {
    width:  1793px;
    margin: 0 135px;
}
.logo {
    float: left;
}
.logo > h1 {
    font-family: 'Courier New', Courier, monospace;
}
.menu {
    float: left;
    margin: 0 112px;
}
.menu >ul {
    list-style: none;

}
.menu >ul>li {
    float: left;
    padding: 15px 20px;
    cursor: pointer;

}
.search > input {
    float: left;
    padding: 9px 196px;
    margin-top: 23px;
}
.icons >ul {
    list-style-type: none;
    float: left;
    padding: right 200px; 
    margin-top: 9px;
}
.icons >ul>li {
    float: left;
    padding: 10px;
    margin-top: 12px;
}
.slider {
    height: 562px;
    background-image: url(./avengers-wallpaper.jpg);
}
.slider > .mySlides{
    width:  1242px;
    margin: 0 auto;

}
/* .show1{
   display:grid;
   float: left;
   
}
.show2{
    display: grid;
    float: left;
}
.show3{
    display: grid;
    float: left;
}0fr
.0fr
 0fr
 0fr
}0fr
.0fr
 0fr
 0fr
}0fr
.show6{
    display: grid;
    float: left;
}
.show7{
    display: grid;
    float: left;
}
.show8{
    display: grid;
    float: left;
}
.show9{
    display: grid;
    float: left;
}
.show10{
    display: grid;
    float: left;
}
.show11{
    display: grid;
    float: left;
}
.image{
    background: black;
    height: 350px;

}
.image >.span{
    font-display: ffff;
} */
.shows{
    display: grid;
   
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    margin: 0 ;
    grid-gap: 0;
}

.shows >.show1{
    display: grid;
    justify-items: center;
    margin: 8px;
    background-color: slategrey;
    padding: 12px;


}
.shows >.show2{
    display: grid;
    justify-items: center; 
    margin: 8px;
    background-color: slategrey;
    padding: 12px;

}
.shows >.show3{
    display: grid;
    justify-items: center; 
    margin: 8px;
    background-color: slategrey;
    padding: 12px;

}
.shows >.show4{
    display: grid;
    justify-items: center; 
    margin: 8px;
    background-color: slategrey;
    padding: 12px;

}
.shows >.show5{
    display: grid;
    justify-items: center; 
    margin: 8px;
    background-color: slategrey;
    padding: 12px;


}
.shows >.show6{
    display: grid;
    justify-items: center; 
    margin: 8px;
    background-color: slategrey;
    padding: 12px;

}



.shows >.show7{
    display: grid;
    justify-items: center; 
    margin: 8px;
    background-color: slategrey;
    padding: 12px;

}
.shows >.show8{
    display: grid;
    justify-items: center;
    margin: 8px;
    background-color: slategrey;
    padding: 12px; 

}
.shows >.show9{
    display: grid;
    justify-items: center;
    margin: 8px;
    background-color: slategrey;
    padding: 12px; 

}
.shows >.show10{
    display: grid;
    justify-items: center; 
    margin: 8px;
    background-color: slategrey;
    padding: 12px;

}
.shows >.show11{
    display: grid;
    justify-items: center; 
    margin: 8px;
    background-color: slategrey;
    padding: 12px;

}
.shows >.show12{
    display: grid;
    justify-items: center; 
    margin: 8px;
    background-color: slategrey;
    padding: 12px;

}
.shows >.seemore {
    text-align: center;
    cursor: pointer;

}
.image {
    background-color: #668da0;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}



